Trees/Backup.zip
Scripts/Assorted_Alternates.zip
Data/UNLOG*
Data/Backup/
Figures/.DS_Store
Figures/Niche_Breadth/.DS_Store
Figures/Tree/.DS_Store
Manuscript/Amphibolurinae.gdoc alias
Scripts/.DS_Store

