Trees/Backup.zip
Scripts/Assorted_Alternates.zip
Data/UNLOG*
Data/Backup/
Figures/.DS_Store
Figures/Niche_Breadth/.DS_Store
Figures/Tree/.DS_Store
Manuscript/Amphibolurinae.gdoc alias
Scripts/.DS_Store
Scripts/Morphological_Analysis/XX_TipShuffle_TESTING.R
Scripts/Morphological_Analysis/XX_Hypervolume_Simulations.R
Presentations/Presentation_Figures
